* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

#delete-btn {
  height : 25px;
  width: 65px;
  background-color: #38aaf8;
  border: none;
  border-radius: 5px;
}
#delete-btn:hover{
  background-color:aqua; 
  color: white;
}
#add-ts{
  background-color: #38aaf8;
}
#add-ts:hover{
  background-color:aqua; 
  color: white;
}
#title{
  background-color: #38aaf8;
}